<ion-card-header>
  <div class="cardBox">
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-left">
          <div class="smallMyImage">
            <p>
              {{name}}
              <small>{{date}}</small>
            </p>
          </div>
        </ion-col>
        <ion-col class="ion-text-right">
          <ion-buttons style="display: block;">
            <ion-button>
              <ion-icon slot="icon-only" name="ellipsis-horizontal-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-card-header>