<ion-toolbar class="leftSide">
  <ion-title>
    <ion-item href="/story/profile" class="ion-activated">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Who</ion-label>
    </ion-item>
    <ion-item href="/story/timeline">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>TimeLine</ion-label>
    </ion-item>
  </ion-title>
</ion-toolbar>

<ion-toolbar class="topSide">
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col class="ion-text-left">
        <ion-title>
          <img src="../../assets/img/favicon.png" style="width: 40px;">
        </ion-title>
      </ion-col>
      <ion-col class="ion-text-center">
        <ion-buttons style="display: block;">
          <ion-button href="/story/profile" [ngClass]="tabName === 'profile' ? 'current' : ''">
            <ion-icon slot="icon-only" name="home-outline"></ion-icon>
          </ion-button>
          <ion-button href="/story/timeline" [ngClass]="tabName === 'timeline' ? 'current' : ''">
            <ion-icon slot="icon-only" name="calendar-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-col>
      <ion-col class="ion-text-right">
        <ion-buttons style="display: block;">
          <ion-button>
            <!-- <ion-icon slot="icon-only" name="search"></ion-icon> -->
          </ion-button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-toolbar>

<ion-tabs>
</ion-tabs>