ion-header {
  opacity: 0.96;
}

#container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 70px;
  text-align: center;
  background: #f2f3f5;

  ion-card-header,
  ion-card-content {
    padding: 0;
  }

  .feedBox {
    position: relative;
    width: 100%;
    max-width: 680px;
    margin: 20px auto;

    .backMyImage {
      position: relative;
      width: 100%;
      height: 275px;
      background-image: url("../../assets/img/background.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: bottom;
      margin-bottom: 60px;

      .myImage {
        position: absolute;
        width: 150px;
        height: 150px;
        bottom: -50px;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 75px;
        box-shadow: 0 0 10px #999;
        background-image: url("../../assets/img/kingdom.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
    }

    .myNameBox {
      margin: auto;
      padding-top: 10px;
      margin-bottom: 30px;
      color: #333;
      font-size: 28px;
      font-weight: bold;
      text-align: center;

      small {
        display: block;
        color: #666;
        font-size: 12px;
      }
    }

    .lifeBox {
      margin: auto;
      padding: 15px 0;
      font-size: 18px;
      color: #222;
      text-align: center;
      font-style: oblique;

      small {
        display: block;
        color: #999;
        font-size: 12px;
      }
    }

    ion-card-content {
      text-align: center;

      .contentTitle {
        width: fit-content;
        border-top: 1px solid #555;
        font-size: 24px;
        color: #555;
        margin: 20px auto 10px;
      }
      .contactBox,
      .skillsBox {
        text-align: left;
        color: #666;
        width: 250px;
        margin: auto;

        p {
          margin-bottom: 15px;

          span {
            font-size: 15px;
            font-weight: bold;
            color: #333;
          }
        }
      }
      .skillsBox {
        width: 300px;
      }
      .educationBox {
        position: relative;
        text-align: left;
        color: #666;
        width: 300px;
        margin: 20px auto 0;

        .educationLine {
          position: absolute;
          left: 100px;
          border: 1px solid #666;
          height: 225px;

          .dot {
            position: absolute;
            left: 0px;
            border: 1px solid #666;
            width: 20px;
            border-radius: 5px;

            &:nth-child(1) {
              top: 9px;
            }
            &:nth-child(2) {
              top: 61px;
            }
            &:nth-child(3) {
              top: 114px;
            }
            &:nth-child(4) {
              top: 190px;
            }
          }
        }

        p {
          margin-bottom: 30px;

          span {
            display: inline-block;
            width: 140px;
            font-size: 15px;
            font-weight: bold;
            color: #333;
          }

          &:nth-child(4),
          &:nth-child(6) {
            margin-bottom: 2px;
          }
        }
      }
    }
  }

  .cardContent {
    margin-top: 6px;
    padding: 10px 16px;
    text-align: left;
    color: #111;
  }

  .cardMedia {
    padding-bottom: 10px;

    .cardImage {
      width: 100%;
      min-height: 318px;
      background-repeat: no-repeat;
      background-size: auto 100%;
      background-position: center;
      margin-bottom: 5px;

      &.cnt-2 {
        display: inline-block;
        width: 50%;
      }
      &.cnt-3 {
        display: inline-block;
        width: 33%;
      }
      &.cnt-4 {
        display: inline-block;
        width: 25%;
      }
    }

    iframe {
      width: 100%;
      min-height: 318px;
    }

    p {
      font-size: 12px;
      color: #333;
      font-weight: bold;
    }

    ion-slides {
      display: none;
    }
  }
}

.popImage {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.img-show {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  span {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 99;
    cursor: pointer;
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 600px;
    box-shadow: 0 0 40px #333;
  }
}

@media (max-width: 1200px) {
  #container {
    padding-top: 50px;
  }
  .cardMedia {
    padding-bottom: 10px;

    iframe {
      width: 100% !important;
    }

    .web {
      display: none !important;
    }
    ion-slides {
      display: block !important;
    }
  }
  .cardImage {
    &.cnt-3,
    &.cnt-4 {
      display: inline-block;
      width: 50% !important;

      &:nth-child(3),
      &:nth-child(4) {
        display: none !important;
      }
    }
  }

  .img-show {
    img {
      height: auto;
      max-height: 600px;
    }
  }
}
