<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col class="ion-text-left">
          <ion-title>
            UJS
          </ion-title>
        </ion-col>
        <ion-col class="ion-text-center">
          <ion-buttons style="display: block;">
            <ion-button>
              <ion-icon slot="icon-only" name="home-outline"></ion-icon>
            </ion-button>
            <ion-button>
              <ion-icon slot="icon-only" name="calendar-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-col>
        <ion-col class="ion-text-right">
          <ion-buttons style="display: block;">
            <ion-button>
              <ion-icon slot="icon-only" name="search"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-toolbar class="leftSide">
    <ion-title>
      <ion-item href="#" class="ion-activated">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Who</ion-label>
      </ion-item>
      <ion-item href="#">
        <ion-icon name="receipt-outline"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-item>
      <ion-item href="#">
        <ion-icon name="calendar-outline"></ion-icon>
        <ion-label>TimeLine</ion-label>
      </ion-item>
    </ion-title>
  </ion-toolbar>
  <div id="container">

    <ion-card class="feedBox">
      <ion-card-header>
        <div class="cardBox">
          <ion-grid>
            <ion-row>
              <ion-col class="ion-text-left">
                <div class="smallMyImage">
                  <p>
                    유지수
                    <small>2009.10.</small>
                  </p>
                </div>
              </ion-col>
              <ion-col class="ion-text-right">
                <ion-buttons style="display: block;">
                  <ion-button>
                    <ion-icon slot="icon-only" name="ellipsis-horizontal-outline"></ion-icon>
                  </ion-button>
                </ion-buttons>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-card-header>

      <ion-card-content>
        123
      </ion-card-content>
    </ion-card>

    <ion-card class="feedBox">
      <ion-card-header>
        <div class="backMyImage">
          <div class="myImage"></div>
        </div>
        <div class="myNameBox">
          유지수
          <small>Server · Client</small>
          <small>Developer</small>
        </div>
        <ion-card-content>
          <div class="contentTitle">Summary</div>
        </ion-card-content>
        <div class="lifeBox">
          "저 게임 안했어요"
          <small>- 1997. 인생 처음 거짓말.</small>
        </div>
        <div class="lifeBox">
          "쭈굴쭈굴-"
          <small>- 2006. 사춘기.</small>
        </div>
        <div class="lifeBox">
          "소심했던 과거의 나 안녕"
          <small>- 2009. 대학 OT 미스공대 선발, 2위.</small>
        </div>
        <div class="lifeBox">
          "쭈굴쭈굴-"
          <small>- 2011. 입대.</small>
        </div>
        <div class="lifeBox">
          "이젠 좀 듬-직(쭈굴-)"
          <small>- 2013. 복학생.</small>
        </div>
        <div class="lifeBox">
          "이것이 사회의 쓴맛인가-"
          <small>- 2014. 첫 직장, 스타트업.</small>
        </div>
        <div class="lifeBox">
          "쓴맛이 사회의 이것인가-"
          <small>- 2016. 두번째 직장, 스타트업.</small>
        </div>
        <div class="lifeBox">
          "아아아 으히흐헿 이힣히힣"
          <small>- 2021-ing. 첫 백수.</small>
        </div>
      </ion-card-header>

    </ion-card>

    <ion-card class="feedBox">
      <ion-card-content>
        <div class="contentTitle">Skills</div>
        <div class="skillsBox">
          <p><span>Server</span><br>
            JAVA
            SPRING
            MYSQL
            FIREBASE
            NCLOUD
          </p>
          <p><span>Client</span><br>
            C++
            C#
            VB.NET
            JSP
            HTML/CSS/SCRIPT
            ANDROID
            IONIC
          </p>

        </div>
      </ion-card-content>
    </ion-card>

    <ion-card class="feedBox">
      <ion-card-content>
        <div class="contentTitle">Education</div>
        <div class="educationBox">
          <div class="educationLine">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
          </div>
          <p><span>2003-2005</span>이대부속중학교</p>
          <p><span>2006-2008</span>한성고등학교</p>
          <p><span>2011-2013</span>공군 수원비행단</p>
          <p><span></span><small>정보통신 · 유선특기</small></p>
          <p><span>2009-2015</span>단국대학교</p>
          <p><span></span><small>컴퓨터학부 · 소프트웨어학과</small></p>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card class="feedBox">
      <ion-card-content>
        <div class="contentTitle">Contact</div>
        <div class="contactBox">
          <p><span>Phone</span><br>010-2883-8533</p>
          <p><span>Email</span><br>ujs8533@naver.com</p>
          <p><span>Site</span><br>https://jisu.site</p>
          <p><span>Instagram</span><br>https://www.instagram.com/babojisu</p>
          <p><span>Address</span><br>Seodaemun-gu, Seoul</p>
        </div>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>